<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://java.sun.com/xml/ns/javaee" 
			xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Java Batch Manager</display-name>
<!--   <welcome-file-list>
    <welcome-file>WEB-INF/pages/launchable-jobs.jsp</welcome-file>
  </welcome-file-list> -->
  
	<listener>
       <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/contexts/master-context.xml</param-value>
  </context-param>

  <servlet>
  	<servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>
                  org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
       <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/contexts/mvc-dispatcher-servlet.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
        <multipart-config>
      		<max-file-size>20848820</max-file-size>
      		<max-request-size>418018841</max-request-size>
      		<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
  </servlet>
 
  <servlet-mapping>
 	<servlet-name>mvc-dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
 	<servlet-name>mvc-dispatcher</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>

</web-app>